---

---

<html lang="en" class="h-full">
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/neko.png" type="image/png">
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Portfolio</title>
    </head>
    <body>
        <main>
            <img class="max-w-xs" src="/neko.png" alt="">
            <h1 class="text-3xl font-mono">Fathunnur Suhas</h1>
        </main>
    </body>
</html>
